div.cent{
  text-align: center;
  margin-top: 10%;
}
logbutton{
  background-color: #3450C8;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 32%;
  text-align: center;
}

#loginbutton{
  width: 175px;
}