{% block content %}
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="static/base.css">
  <link rel="stylesheet" href="static/sidebar.css">
</head>

 <div class="sidebar">
   <img  src="static/logo.PNG" style="width:210px;height:120px;">
        <a class="active" href="/">Home</a>
        {% if user.is_authenticated %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/timer">Timer</a>
        <a href="https://charts.mongodb.com/charts-project-0-vnvhk/dashboards/629be2b0-e169-4621-8398-bd33ab766fc5" target="_blank">Data</a>
        {% endif %}
  </div>
<div class="space">
        <img src="static/swimlogo.png" class="swimcenter">
      <p>swim coach helper</p>
  </div>
{% endblock %}